<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Register Login with Authentication</title>
<!--Custom Theme files-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Register Login Widget template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login Signup Responsive web template, SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!--web-fonts-->
<link href='//fonts.googleapis.com/css?family=Jura:400,300,500,600' rel='stylesheet' type='text/css'>
<!--//web-fonts-->
</head>
<body>
    
    <div class="banner">
        <username> 
            <ul>Username: {{users.username }} </ul> 
            <ul>Curriculum: {{users.curriculum}}</ul>
        </username>
    <div style="text-align:left; padding: 15px;">
                <a class="button" href="/">Go to home</a>
            </div>
    </div>

    <div class="function">
            <div style="text-align:center; padding: 25px;">
                    <a class="button" href="/list">Grouping</a>
            </div>
    </div>

    <div class="function">
            <div style="text-align:center; padding: 25px;">
                    <a class="button" href="/coursematerial">Course Material</a>
            </div>
    </div>

    <div class="function">
            <div style="text-align:center; padding: 25px;">
                    <a class="button" href="/coursematerial">Pre-class test</a>
            </div>
    </div>

    <div class="function">
            <div style="text-align:center; padding: 25px;">
                    <a class="button" href="/coursematerial">Discussion</a>
            </div>
    </div>

    <div class="function">
            <div style="text-align:center; padding: 25px;">
                    <a class="button" href="/coursematerial">Peer evaluation</a>
            </div>
    </div>

 
    


</body>
</html>